*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;

}
  #background{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 224);
  }
  #left{
    padding: 30px 15px;
    width: 10%;
    height: 100%;
    background-color: aliceblue;
  }
  #left h1{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -1px;
    margin-bottom: 58px;
    color: rgb(24, 23, 23);
    
  }
  #left a{
    display: block;
    text-decoration: none;
    color: rgb(107, 109, 83);
    font-size: 15px;
    font-weight: 400;
    margin-top: 16px;
  }

  #centre {
    width: 35%;
    height:100%;
    background-image:url(https://images.pexels.com/photos/3356416/pexels-photo-3356416.jpeg);
    background-size: cover;
  }

  #right{
    position: relative;
    width: 55%;
    height: 100%;
    background-color: white;
  }
   
   #centreright{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 53%;
    height: 70%;
    text-align: center;
    padding: 0 42px;
    background-color: rgb(255, 255, 255);
   }

#line1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}
.line{
 width: 100px;
 height: 2px;
 background-color: rgb(55, 54, 54);
 margin: 10px;
}
#line1 h1{
    text-transform: uppercase;
 font-weight: 800;
 font-size: 32px;

}
#centreright>h1{
    font-size: 80px;
    font-weight: 1000;
    margin-top: -20px;
    margin-bottom: -10px;
    
}
#centreright>p{
    font-size: 10px;

}
#inputdiv{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 50px;

}
#inputdiv input{
  width: 80%;
  height: 50px;
  padding: 15px 40px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 8px 30px rgba(60, 60, 60, 0.2);
  
}
#inputdiv input::placeholder{
  color: #d1cfcf;
}
#inputdiv button{
  font-weight: 400;
  width: 20%;
  height: 50px;
  border: none;
  background-color: rgb(244, 173, 119);
  color: white;
  text-transform: uppercase;
  border-radius: 5px;

}
#inputdiv i{
  position: absolute;
  top: 37%;
  left:5%;
  transform: translate(0 );
  color: #c0bfbf;
}
#feature{

  margin-top: 70px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
#feature p{
  width: 40%;
  font-size: 10px;
  line-height: 20px;
  opacity: .5;
  font-weight: 600;
}
#feature #first{
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(https://images.pexels.com/photos/4180974/pexels-photo-4180974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  
  border-radius: 4px;
}
#feature #first i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  filter: invert();
  
}
#sidepart{
  position: absolute;
  right: 10px;
  top: 60px;
  transform-origin: 100,0;
transform: rotate(-90deg);
margin-top: 430px;
}
#sidepart a{
  margin-left: 15px;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  opacity: .4;
}
#down{
  position: absolute;
  bottom: 10%;
  right: 11.99%;
  font-size: 20px;
}
#topicons{
  position: absolute;
  top: 2%;
  right: 11%;


}
#topicons i{
  opacity: .8;
  margin: 8px;
}